@model MyShop.Product

<style>
    .icon-heart:hover{
        text-decoration:none;
        color:red;
    }
</style>
<div class="col-lg-3 my-2">
    <div class="card">
        <a href="#"><img class="card-img-top" src="~/Images/@Model.PictureName" style="width:200px;height:200px"></a>
        <div class="card-body">
            <p><strong>Name: </strong>@Model.name</p>
            <p><strong>Price : </strong>@Model.price</p>
            <a href="/User/AddToWishlist?pid=@Model.productID" class="btn btn-sm btn-primary btn-block">Add to WishList <i class="icon-heart"></i></a>
            <a href="/User/AddToCart?pid=@Model.productID" class="btn btn-sm btn-success btn-block">Add to Cart <i class="icon-shopping-cart"></i></a>
        </div>
    </div>
</div>
