@model MyShop.Product

<div class="col-lg-3 my-2">
    <div class="card">
        <a href="#"><img class="card-img-top" src="~/Images/2.jpg"></a>
        <div class="card-body">
            <p><strong>Name: </strong>@Model.name</p>
            <p><strong>Price : </strong>@Model.price</p>
            <a href="/User/AddToCartFromWishlist?pid=@Model.productID" class="btn btn-sm btn-success btn-block">Add to Cart <i class="icon-shopping-cart"></i></a>
            <a href="/USer/RemoveFromWishlist?pid=@Model.productID" class="btn btn-sm btn-danger btn-block">Remove From Wishlist <i class="icon-remove"></i></a>
        </div>
    </div>
</div>

