<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- <add name="MyShopEntities" connectionString="metadata=res://*/MyShopEntityModel.csdl|res://*/MyShopEntityModel.ssdl|res://*/MyShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MyShop;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MyShopEntities1" connectionString="metadata=&quot;res://*/MyShopEntities1.csdl|res://*/MyShopEntities1       .ssdl|res://*/MyShopEntities1       .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=8d8642f9-ef71-49a9-8e19-a90a00017716.sqlserver.sequelizer.com               ;initial catalog=db8d8642f9ef7149a98e19a90a00017716                 ;persist security info=True;user id=zpnrhupwzyhjyjld                   ;password=YQizcBmJsWsZ2kGM2ETZJxifJWFUvSqNj56NVrNJtf6TgpCPndTjqfLAFcYn5zoG;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChallanEntities" connectionString="metadata=res://*/MyShopEntityModel.csdl|res://*/MyShopEntityModel.ssdl|res://*/MyShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DLAPDD1\SQLEXPRESS;initial catalog=Challan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyShopEntities" connectionString="metadata=res://*/MyShopEntityModel.csdl|res://*/MyShopEntityModel.ssdl|res://*/MyShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DLAPDD1\SQLEXPRESS;initial catalog=MyShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
<!--ProjectGuid: {56CDB64C-8A4F-454E-9903-2A3A383DBFC6}-->