@model List<Product>
@{
    ViewBag.Title = "Cateogry";
    Layout = "~/Views/Shared/_MyShopLayout.cshtml";
}



@if (Model != null)
{
    <div class="col-lg-8 col-md-8 align-items-center">
        <h1 style="text-align:center">My Shop</h1>
        <center><h2 class="text-primary">Category : @ViewData["c_name"]</h2></center>
        @if (Model.Count != 0)
        {
            <div class="row my-1">
                @for (int i = 0; i < Model.Count; i++)
                {
                    @Html.Partial("item", Model[i]);
                }
            </div>
        }
        else
        {
            <h1 class="text-dark">No Product in this Cateogry</h1>
        }

    </div>
}
else
{
        <h1 class="text-danger">Invalid Catrgory Name</h1>

}