@model MyShop.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyShopLayout.cshtml";
}

    <div class="row my-3">
        <div class="col-lg-3 col-md-3">
            <h4 class="text-center">Categories</h4>
            <div class="list-group">
                @for(int i = 0; i < Model.categories.Count; i++) { 
                <a href="#" class="list-group-item list-group-item-action">@Model.categories[i].name</a>
                }
            </div>
        </div>
        <div class="col-lg-8 col-md-8 align-items-center">
            <h1 style="text-align:center">My Shop</h1>
            <h2 class="text-primary">Recently Buyed Products</h2>
            <div class="row">
                @{

                    for (int i = 0; i < Model.products.Count; i++)
                    {
                        @Html.Partial("item",Model.products[i]);
                    }
                }
            </div>
        </div>
  </div>
