@model MyShop.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyShopLayout.cshtml";
}

        <div class="col-lg-8 col-md-8 align-items-center">
            <h1 style="text-align:center">My Shop</h1>
            <form action="/Product/Search" method="post">
                <div style="display:flex;flex-direction:row">
                    <input type="text" name="pname" class="form-control mx-2" placeholder="Search Product" />
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
            <h2 class="text-primary">Recently Buyed Products</h2>
            <div class="row my-1">
                @{

                    for (int i = 0; i < Model.products.Count; i++)
                    {
                        @Html.Partial("item",Model.products[i]);
                    }
                }
            </div>
        </div>